.createSchedule {
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}

.header h6 {
    font-size: medium;
    font-weight: bold;
}

.header button {
    background-color: #2B8700;
    color: white;
}

.header button:hover, .generateScheduleBtn:hover {
    background-color: #1F6100;
    color: white;
}

.examTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%; /* Ensure it takes the full width */
}

.examTitle, .examDate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%; /* Ensure it takes the full width */
}

.dropdown-container {
    position: relative;
    display: inline-block;
    flex: 1;
    min-width: 150px; /* Ensure a minimum width for smaller screens */
}

.dropdown-input {
    width: 100%; /* Ensure it takes the full width of its container */
    padding: 5px;
    padding-right: 30px; /* Space for the icon */
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.no-icon-right {
    padding-right: 12px;
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #999;
}

.type-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.type, .search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.generateSchedule, .normalBtn {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 3px solid var(--accent, #2B8700);
    color: #2B8700;
    text-align: center;
    cursor: pointer;
    font-size: small;
    font-weight: bold;
}

.generateScheduleBtn {
    display: flex;
    width: 100%;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--accent, #2B8700);
    color: white;
}

#searchInput {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    padding: 4px 10px;
    font-size: small;
    transition: border-color 0.3s ease;
    outline: none;
}

#searchInput:focus {
    border: 2px solid #2B8700;
}

#searchbtn {
    background-color: #2B8700;
    border: none;
    border-radius: 5px;
    margin-left: -1px; /* This removes the gap between the input and the button */
}

.dataset-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.datasetStatus {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.datasetStatus-header {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
}

.statusContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.statusTitle, .statusTitle-value {
    color: #000;
    font-family: Inter;
    font-size: 10px;
}

.totalErrorContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #000;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    max-height: calc(100vh - 30vh); /* Adjust the value as needed */
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #C0C0C2;
}

.table th, .table td {
    border: 1px solid #C0C0C2;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    text-align: center;
    width: 14.28%; /* Ensure all columns have the same width (100% / 7 columns) */
}

.table thead th {
    background-color: #2B8700;
    color: white;
    font-size: 10px;
}

.table tbody tr:nth-child(odd) {
    background-color: #2b870085;
}

.table tbody tr:nth-child(even) {
    background-color: #2b87000c;
}

.table tbody td .action-buttons {
    display: flex;
    justify-content: center; /* Center the buttons in the Action column */
    gap: 5px;
}

.edit-btn, .delete-btn {
    background-color: #2B8700;
    color: white;
    border: none;
    padding: 1px 1px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn {
    background-color: #d9534f;
}

@media (max-width: 768px) {
    .header h6 {
        font-size: small;
    }

    .dropdown-input {
        font-size: small;
        padding: 5px;
    }

    .generateSchedule, .normalBtn {
        padding: 8px;
        font-size: x-small;
    }

    #searchInput {
        font-size: x-small;
    }

    .datasetStatus-header {
        font-size: small;
    }

    .statusTitle, .statusTitle-value {
        font-size: x-small;
    }

    .table thead th {
        font-size: x-small;
    }
}
