:root {
  --main-bg-color: #009d63;
  --main-text-color: #000000;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;

}

.content {
  display: flex;
  flex-direction: row;
}

.table-containers {
  flex: 1;
  overflow-x: auto;
}

/* table content */
.table-container {
  /* margin: 20px; */
  margin-right: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100vw;
  height: calc(100vh - 10rem);
  }

th,
td {
  white-space: nowrap;
}

.table {
  border-color: #6A737B;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-responsive {
  height: calc(100vh - 20rem);
  width: 100%;
  overflow-y: auto;
}

#right-side > div {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

#searchInput {
  flex: 1; /* Make the input take up remaining space */
}

.btn-print {
  background-color: #2B8700;
  color: white;
}

.btn-print:hover {
  background-color: #1F6100;
  color: white;
}