/* progress bar container */
.cprogress {
    position: relative;
    height: 28px;
    border-radius: 5px;
    background-color: #e0e0e0;
    width: 100%;
    margin-top: 10px;
}

/* progress bar green */
.cprogress-bar {
    background-color: #009F00;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    /* Initially set to 0% width */
    transition: width 0.5s ease;
    /* Smooth transition */
}


/* Styles for the dark screen overlay */
.goverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    z-index: 9998;
    /* Behind the popup but above the rest of the content */
}

/* Styles for the pop-up cards */
.gpopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: 476px;
    height: 276px;
    max-height: 90vh;
    overflow-y: auto;
}

.gdone-container {
    padding: 20px;
    text-align: center;
}

.gdone-text {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}