<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" id="brand-link" href="#">
            <img src="./static/images/OES LOGO new.svg" alt="" width="80" height="50"
                class="d-inline-block align-text-center" id="logo">
            <span class="title">
                <span class="title-full">Optimize Exam Scheduler</span>
                <span class="title-abbr">OES</span>
            </span>
        </a>

        <div class="profile">
            <a href="#" class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#sendMessageOffcanvas" aria-controls="sendMessageOffcanvas">
                <i class="fas fa-comments text-secondary"></i> 
            </a>
            <button class="btn" id="profileBtn">
                <img src="./static/images/user.svg" alt="" id="user-img">
                <img src="./static/images/arrow-down.svg" alt="">
            </button>
        </div>
        
        <div class="profile-info" id="profile-info">
            <p id="username">{{ username }}</p>
            <span id="user-email">getalla.jovanie@dnsc.edu.ph</span>
            <hr>
            <button class="btn" id="logout-btn">Logout</button>
        </div>
    </div>
</nav>

  

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/navigation.js') }}"></script>