<section class="hidden">
    <!-- Dark screen overlay -->
    <div id="overlay" class="goverlay"></div>

    <!-- Progress Bar -->
    <div id="checkdata" class="gpopup">
        <div class="gdone-container" id="checkdata">
            <img src="../static/images/csv-icon.svg" alt="" class="gshadow-box" width="130px" height="100px">
            <div class="gdone-text" style="margin-top: 10px;">Checking for missing data</div>
        </div>
        <div class="cprogress">
            <div class="cprogress-bar"></div>
        </div>
    </div>

    <!-- Progress Card -->
    <div id="progressCard" class="progressCard">
        <div class="gprogress">
            <div class="gprogress-bar"></div>
        </div>
        <div class="gprogress-text">Generating
            <span class="gprogress-text-span">Exam
                Schedule</span>
        </div>
    </div>

</section>