<div class="sidebar">
    <button class="btn" id="sidebar-btn">
        <p>History</p>
        <img src="./static/images/arrow-right.svg" alt="" id="arrow-right">
        <img src="./static/images/arrow-left.svg" alt="" id="arrow-left">
    </button>
</div>

<section class="sidebar-history" id="sidebar-history" style="display: none;">
    <a href="/history">
        <div class="holder" id="final">
            <span>AY 2022-2023</span>
            <p>2nd Sem Final Exam Schedule</p>
        </div>
    </a>
    <a href="/history">
        <div class="holder" id="midterm">
            <span>AY 2022-2023</span>
            <p>2nd Sem Mid-Term Exam Schedule</p>
        </div>
    </a>
</section>