<div class="con mt-5 mb-5 rounded-3">
    <div class="header">
        <h4>Upload CSV File</h4>
        <button class="btn btn-sm closeBtn" id="closeOverlay">X</button>
    </div>

    <form id="uploadForm" enctype="multipart/form-data" method="post" action="#">
        <div class="upload-wrapper">
            <label for="csvFile" class="file-upload">
                <img id="file-icon" src="./static/images/folder 1.svg" alt=""> Files
                <input type="file" id="csvFile" name="csv_file" accept=".csv">
            </label>
            <span class="max-size">Maximum file size: 20mb, maximum number of files: 1</span>
        </div>

        <!-- <div id="upload-area" class="mt-4 upload-area"> -->
        <div id="drop-area" class="responsive-container mt-3 mb-3">
            <img src="./static/images/drop icon.svg" alt="" class="responsive-image"> <br><br>
            <p class="responsive-text" id="drop-area-text">You can drag and drop csv file here.</p>
        </div>
        <!-- </div> -->

        <span class="file-type mt-4">Accepted file types: <br> CSV Document .csv</span>

        <div class="d-grid gap-2 d-md-block mt-4">
            <button type="button" class="btn btn-upload btn-sm" id="uploadButton">Upload</button>
            <button type="button" class="btn btn-cancel btn-sm text-dark" id="cancelButton">Cancel</button>
        </div>
    </form>

    <div id="error-overlay" class="error-overlay">
        <div class="error-message">
            <img src="./static/images/error-icon.svg" alt="Error Icon" class="error-icon">
            <div class="error-text"></div>
            <button id="ok-button" class="btn btn-ok btn-sm">OK</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/uploadCsv.js') }}"></script>