
    
    <div class = "details">
        <p>Number of Missing values: 8</p>
        <p>Number of Duplicated values: 11</p>
        <p>Number of Not Valid values: 2</p>
        <p>Number of Errors: 21</p>
    </div>
    
    <div id="tableContainer">
        <div class="table-con">
            <table border="1" class="dataframe table table-striped table-hover table-bordered" id="editableTable">
  <thead>
    <tr style="text-align: right;">
      <th>Section</th>
      <th>CourseCode</th>
      <th>ClassSize</th>
      <th>Instructor</th>
      <th>RoomForExam</th>
      <th>RoomSize</th>
      <th>StartDate</th>
      <th>EndDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span style="color: red;">Missing</span></td>
      <td>P222</td>
      <td>44.0</td>
      <td>Acdal, April M.</td>
      <td>AB R-1</td>
      <td>50.0</td>
      <td>March 1, 2024</td>
      <td>March 5, 2024</td>
    </tr>
    <tr>
      <td>BSDRM 2-B</td>
      <td><span style="color: red;">Missing</span></td>
      <td>43.0</td>
      <td>Acdal, April M.</td>
      <td>AB R-2</td>
      <td>50.0</td>
      <td><span style="color: red;">not valid</span></td>
      <td></td>
    </tr>
    <tr>
      <td>BSDRM 2-D</td>
      <td>P222</td>
      <td><span style="color: red;">Missing</span></td>
      <td>Acdal, April M.</td>
      <td>AB R-3</td>
      <td>50.0</td>
      <td></td>
      <td><span style="color: red;">not valid</span></td>
    </tr>
    <tr>
      <td>BSDRM 2-G</td>
      <td>P222</td>
      <td>43.0</td>
      <td><span style="color: red;">Missing</span></td>
      <td>AB R-4</td>
      <td>50.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BSDRM 3-B</td>
      <td>ER327</td>
      <td>37.0</td>
      <td>Acdal, April M.</td>
      <td>AB R-5</td>
      <td>50.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>AB R-6</td>
      <td>50.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BSDRM 3-C</td>
      <td>RR325</td>
      <td>43.0</td>
      <td>Acdal, April M.</td>
      <td>AB R-7</td>
      <td>60.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BSDRM 3-D</td>
      <td>ER327</td>
      <td>42.0</td>
      <td>Acdal, April M.</td>
      <td>AB R-8</td>
      <td>60.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BSDRM 3-D</td>
      <td>RR325</td>
      <td>37.0</td>
      <td>Acdal, April M.</td>
      <td>AB R-9</td>
      <td>60.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BSDRMSP 2-2022</td>
      <td>P222</td>
      <td>31.0</td>
      <td>Acdal, April M.</td>
      <td><span style="color: red;">AB R-10</span></td>
      <td>60.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>MAEM 1-A</td>
      <td>FC703</td>
      <td>4.0</td>
      <td>Anunuevo, Ailene</td>
      <td><span style="color: red;">AB R-10</span></td>
      <td>60.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BTLEd 2-A</td>
      <td>EDUC 222B</td>
      <td>38.0</td>
      <td>Balio, Ariel, Jr. C.</td>
      <td><span style="color: red;">AB R-10</span></td>
      <td><span style="color: red;">Missing</span></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BTLEd 3-B</td>
      <td>THE326</td>
      <td>35.0</td>
      <td>Balio, Ariel, Jr. C.</td>
      <td><span style="color: red;">Missing</span></td>
      <td>60.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BTLEd 3-C</td>
      <td>THE326</td>
      <td>37.0</td>
      <td>Balio, Ariel, Jr. C.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BTLEd 4-B</td>
      <td>EDUC 400B</td>
      <td>31.0</td>
      <td>Balio, Ariel, Jr. C.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BTLEd 4-C</td>
      <td>EDUC 500</td>
      <td>31.0</td>
      <td>Balio, Ariel, Jr. C.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BTLEd 4-C</td>
      <td>EDUC 400B</td>
      <td>31.0</td>
      <td>Balio, Ariel, Jr. C.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BSFT 2-A</td>
      <td>FT 222</td>
      <td>32.0</td>
      <td>Basilisco, Arcelyn A.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BSFT 2-B</td>
      <td>FT 222</td>
      <td>41.0</td>
      <td>Basilisco, Arcelyn A.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>MSMBIO 1-A</td>
      <td>MB 604</td>
      <td>3.0</td>
      <td>Bos, Arthur R.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BSIT 1-B</td>
      <td>IT Elec1</td>
      <td>40.0</td>
      <td>Casipe, Analyn V.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BSIT 2-E</td>
      <td>IT 221 D</td>
      <td>41.0</td>
      <td>Casipe, Analyn V.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BSIT 2-F</td>
      <td>IT 221 D</td>
      <td>39.0</td>
      <td>Casipe, Analyn V.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>BSIT 2-G</td>
      <td>IT 221 D</td>
      <td>40.0</td>
      <td>Casipe, Analyn V.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><span style="color: red;">BSIT 2-H</span></td>
      <td><span style="color: red;">IT 221 D</span></td>
      <td>39.0</td>
      <td>Casipe, Analyn V.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><span style="color: red;">BSIT 3-D</span></td>
      <td><span style="color: red;">IT 323</span></td>
      <td>35.0</td>
      <td>Casipe, Analyn V.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><span style="color: red;">BSIT 3-D</span></td>
      <td><span style="color: red;">IT 323</span></td>
      <td>35.0</td>
      <td>Casipe, Analyn V.</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><span style="color: red;">BSIT 2-H</span></td>
      <td><span style="color: red;">IT 221 D</span></td>
      <td><span style="color: red;">Missing</span></td>
      <td><span style="color: red;">Missing</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
        </div>
    </div>
    