<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/head.html' %}
    <title>OES | Create Schedule</title>
    <link rel="stylesheet" href="../static/css/createSchedule.css">
</head>

<body>
    <!-- navbar -->
    {% include 'includes/nav.html' %}

    <div class="container p-5 my-5 rounded createSchedule">
        <div class="container-fluid header">
            <h6>Create Schedule</h6>
            <button class="btn btn-sml">Upload Csv</button>
        </div>
        <form action="">
            <div class="examTitleContainer">
                <div class="examTitle">
                    <button>
                        <input type="text" placeholder="Academic Year">
                        <img src="../static/images/arrow-down.svg"alt="">
                    </button>


                </div>
                <div class="examDate">

                </div>

            </div>
        </form>
    </div>

</body>

</html>