<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - Optimize Exam Scheduler</title>
    <link rel="stylesheet" type="text/css" href="../static/css/historycopyforsuperadmin.css">
    <link rel="stylesheet" href="./static/css/stylescopyforsuperadmin.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar -->
    {% include 'includes/superadminNav.html' %}
    
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="content" style="background-color: #F2F3F7;">
            <div class="sidebar-container">
                {% include 'includes/superadminsidebar.html' %}

            </div>
            <!-- Table -->
            <div class="table-containers container-fluid px-5 py-5">
                <div class="table-container container-fluid">    
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                    <div class="card-body mb-5">
                                        <div class="container-fluid mt-5">
                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                                <h2 class="text-start">Users Log</h2>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped" >
                                                    <thead class="thead-dark" >
                                                        <tr class="bg-success text-white" id="table-head">
                                                            <th>LogID</th>
                                                            <th>UserID</th>
                                                            <th>Action</th>
                                                            <th>Description</th>
                                                            <th>Timestamp</th>
                                                            <!-- <th>Actions</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for user in users %}
                                                        <tr>
                                                            <td>{{ user.LogID }}</td>
                                                            <td>{{ user.UserID }}</td>
                                                            <td>{{ user.Action }}</td>
                                                            <td>{{ user.Description }}</td>
                                                            <td>{{ user.Timestamp }}</td>
                                                            <!-- <td>
                                                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteUserModal{{ user.UserID }}">
                                                                    Delete
                                                                </button>
                                                            </td> -->
                                                        </tr>                        
                                    
                                                        <!-- Delete User Modal -->
                                                        <div class="modal fade" id="deleteUserModal{{ user.UserID }}" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="deleteUserModalLabel">Delete Logs</h5>
                                                                    </div>
                                                                    <form action="{{ url_for('delete_user_logs', user_id=user.UserID) }}" method="post">
                                                                        <div class="modal-body">
                                                                            <p>Are you sure you want to delete this Log?</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z8S3gVXEjIo607E2FfewJw4tkP2ciKE6hFfFkZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
