<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <title>Super Admin - Optimize Exam Scheduler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/svg" href="./static/images/OES ICON.svg">
</head>
<body>
    <!-- navbar -->
     <!-- navbar -->
     {% include 'includes/nav.html' %}
    
    <section>
        <div class="container text-center mt-5 fs-5 bolder">
            Hello {{ username }}
        </div>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 mb-5">
                    <h2 class="text-center">Register</h2>
                    <form method="POST" action="{{ url_for('register') }}">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="name">First name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName">
                        </div>
                        <div class="form-group">
                            <label for="name">Last name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName">
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="form-control" id="role" name="role" required>
                                <option value="1">Superadmin</option>
                                <option value="2">Admin</option>
                                <option value="3">Faculty</option>
                                <!-- Add more options as needed -->
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </form>
                    {% if error %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
